:root {
    --bg-color: #000;
    --text-color: #fff;
    --nav-height: 45px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

.content {
    padding: 100px 20px; /* 콘텐츠 패딩 설정 */
}

.white-screen {
    height: 300vh;
    background-color: rgb(255, 255, 255);
}


@media (max-width: 50vw) {
    .nav-menu {
        display: none;
        flex-direction: column;
        position: fixed;
        top: var(--nav-height);
        left: 0;
        width: 100%;
        background-color: var(--bg-color);
        padding: 10px 0;
    }

    .nav-menu.open {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .content {
        padding: 100px 20px;
        margin-top: var(--nav-height);
    }
}